.blogPage
  - unless @blog.cover_photo.blank?
    .coverPhoto{ 'data-image-url' => @blog.cover_photo.url }
      = image_tag @blog.cover_photo.url(:large)
  .textContainer.left
    .textInner
      %span.title= @blog.title
      %hr.blogSeparator
      .body
        = @blog.body.html_safe
  .blogDetails.right
    .detailsInner
      .detail
        Author:
        = @blog.user
      .detail
        Created:
        = @blog.created_at.strftime('%B %-d %Y')

  .clear
