= image_tag 'header.jpg', id: 'home'

.section#ourStory
  .column.bride
    .gray.small.title Bride
    .title.pull-left Liz Kingham
    .icon.liz.pull-right.inTitle
    %hr
    .clear
    %p
      I first met Jerel when I came home to my apartment one night. My roommate was dating his friend, and they were all hanging out.
      I instantly felt connected to him; he had the ability to make me laugh at anything. I knew from the moment I met him that I wanted to get to know him better.
      It took an agonizingly long month for him to realize that he wanted the same thing.

    %p
      Ever since then, he has been one of my closest friends, and I really can’t imagine the last few years of college without him.
      The seventy-mile distance made it difficult to see each other, but we managed to get together a few times a month.
      We have shared a lot of joy over the years and I am so excited to be getting married to Jerel.
      I can’t wait to see where life takes us!

  .column.groom
    .gray.small.title Groom
    .icon.jerel.pull-left.inTitle
    .title.pull-left Jerel Miller
    %hr
    .clear
    %p
      I still remember the moment before I met Liz. I was in her apartment hanging out with one of my friends and his girlfriend. I remember looking
      at their whiteboard hung on the wall with the name "Liz" written on it and wondering who she was and if I would be interested
      in getting to know her more. Little did I know that I would be standing here today preparing to marry her.

    %p
      Liz is the definition of radiance and brilliance. Her smile has the ability to turn a cloudy day into a beautiful display of amazing. Much like
      her smile, she has been such a radiance and brilliance in my life. Her love for God and glowing personality continues to amaze me. I have
      been blessed to the fullest and I cannot wait to share my life with her.

  = image_tag 'timeline.jpg', class: 'timeline'


.section#photos
  .title.center
    .icon.liz.inline-block
    Photos
    .icon.jerel.inline-block

  - if @images.length > 0

    #photoCarousel.carousel.slide

      .carousel-inner
        - @images.each_with_index do |image, index|
          .item{ class: index.eql?(0) ? 'active' : '' }
            = image_tag image.image.url(:large), alt: image.title

      = link_to '&lsaquo;'.html_safe, '#photoCarousel', class: 'carousel-control left', 'data-slide' => 'prev'
      = link_to '&rsaquo;'.html_safe, '#photoCarousel', class: 'carousel-control right', 'data-slide' => 'next'

      %ol.carousel-indicators
        - @images.each_with_index do |image, index|
          %li{ 'data-target' => '#photoCarousel', 'data-slide-to' => index, class: index.eql?(0) ? 'active' : '' }


  - else
    .center
      %h2 We are sorry we currently have no images! Don't fret. We will be uploading them soon.

.section#whenWhere
  .title.center
    .icon.liz.inline-block
    When/Where
    .icon.jerel.inline-block

  .wrapper
    .box
      .boxTop
      .center= image_tag 'when.jpg'
      .boxBottom
        Friday, May 17, 2013
        %br
        6:00pm

    .box
      .boxTop
      .center= image_tag 'where.jpg'
      .boxBottom
        .mapTitle Ceremony:
        Crossroads Church
        %br
        10451 Huron St
        %br
        Northglenn, CO 80234
        #ceremonyMapContainer
          #ceremonyMap.map
          .mapControls
        %hr
        .mapTitle Reception:
        Crossroads Church
        %br
        53 East 128th Ave
        %br
        Thornton, CO 80241
        #receptionMapContainer
          #receptionMap.map
          .mapControls


:javascript
  var ceremonyMap = new Wedding.Models.Map({
    latitude: 0,
    longitude: 0,
    address: 'Crossroads Church — Northglenn, Huron Street, Northglenn, CO'
  });

  var receptionMap = new Wedding.Models.Map({
    latitude: 0,
    longitude: 0,
    address: 'Crossroads Church — Thornton, East 128th Avenue, Thornton, CO'
  })

  var ceremonyMapsView = new Wedding.Views.MapsView({
    model: ceremonyMap,
    el: '#ceremonyMapContainer'
  });

  var receptionMapsView = new Wedding.Views.MapsView({
    model: receptionMap,
    el: '#receptionMapContainer'
  });

  ceremonyMapsView.render()
  receptionMapsView.render()