= form_for [:admin, @blog], html: { multipart: true } do |f|
  = render 'layouts/flash', flash: flash
  .input
    %label Cover Photo
    = f.file_field :cover_photo
  .input
    %label Title
    = f.text_field :title
  .input
    = f.cktext_area :body, class: 'left'
  .submit
    = f.submit blog_button_text, class: 'button'
    = link_to 'Cancel', previous_path, class: 'button'