= form_for [:admin, @blog], html: { multipart: true } do |f|
  = render 'layouts/flash', flash: flash
  .input
    %label Cover Photo
    = f.file_field :cover_photo
  .input
    %label Title
    = f.text_field :title
  / %label Body
  .input
    / .left Body
    = f.cktext_area :body, class: 'left', ckeditor: {  }
    / = f.text_area :body
  .submit
    = f.submit 'Update blog', class: 'btn btn-primary btn-large'