.pageContainerHeader
  = link_to 'Back to blogs', admin_blogs_path, class: 'button'

.blog
  %h2.title
    = @blog.title
    = link_to edit_admin_blog_path(@blog) do
      %i.icon-pencil
  = image_tag @blog.cover_photo.url(:large), class: 'cover_photo' unless @blog.cover_photo.blank?
  %p= @blog.body.html_safe