.header
  .container
    = link_to admin_root_path do
      = render 'layouts/logo'
    - if current_user
      .navbar.pull-right
        %ul.nav
          %li.dropdown
            = link_to '#', class: 'dropdown-toggle', 'data-toggle' => 'dropdown' do
              = current_user
              %b.caret
            %ul.dropdown-menu
              %li
                = link_to edit_admin_users_path do
                  %i.icon-user
                  Edit User Info
              %li.divider
              %li= link_to 'Logout', logout_path
      %ul.adminMenu
        %li= link_to 'Blog', '#'
        %li= link_to 'Images', '#'